/* css stylesheet */

body {
  /* text-align: center; */
  background-color: silver;
}

/* imageDiv */
#imageDiv {
  float: left;
}
img {
  /* width: 500px; 
  height: 300px; */
  background-color: lightpink;
}

/* rightDiv */
#rightDiv {
  /* float: right; */
}
input {
  width: 80px;
}

/* buttonDiv */
#imageButton {
  background-color: lightyellow;
  border-radius: 5px;
  margin-top: 5px;
}

/* opacityDiv */
#opacityDiv {
  margin-top: 25px;
}
#opacityButton {
  border-radius: 5px;
  margin-top: 5px;
}